</main>

<footer>
  <div id ="footer">
  <p>Copyright © OmarSCoppola <%= new Date().getFullYear() %>
  <a href="https://github.com/Apasin-josc" target="_blank">
    <button type="submit">More about me 🤠</button>
</a>
</p>
</div>
</footer>
</body>

</html>