<%- include('partials/header.ejs') %>
<div id ="body">


    <h1> here's your doggo vid m8:</h1>
    <video width="320" height="240" controls>
        <source src="<%= activity %>" type="video/mp4">
    </video>
</div>

    
</div>
<%- include('partials/footer.ejs') %>